@using Microsoft.AspNetCore.Mvc.Localization
@using Mangkoo.FullStack.Localization
@inject IHtmlLocalizer<FullStackResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
