/* Your Global Styles */

:root .lpx-brand-logo {
    --lpx-logo: url('/images/logo/mangkoo/logo-light.png');
    --lpx-logo-icon: url('/images/logo/mangkoo/logo-light-thumbnail.png');
}

.merch-card {
    width: 20em;
}