@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Mangkoo.FullStack.Localization
@using Volo.Abp.Users
@model Mangkoo.FullStack.Web.Pages.Merch.IndexModel
@inject IHtmlLocalizer<FullStackResource> L
@inject ICurrentUser CurrentUser
@section styles 
{
    <abp-style src="/Pages/Merch/Index.css" />
}
@section scripts 
{
    <abp-script src="/Pages/Merch/Index.js" />
}

@*Page header.*@
<h1>Merch</h1>

@*TODO: This should be view component or something.*@
<abp-card class="merch-card">
    @*TODO: Image render.*@
    @* <img abp-card-image="Top" src="" /> *@
    <abp-card-body>
        <abp-card-title>
            Item 01
        </abp-card-title>
        <abp-card-subtitle class="mb-2 text-muted">
            Collection 01
        </abp-card-subtitle>
        <abp-card-text>
            @*TODO: Price.*@
            <div class="display-6">$34.00</div>
            @*TODO: Add to cart button.*@
            <a abp-button="Secondary" 
            href="#"
            class="mt-2">
                Add to cart
            </a>
        </abp-card-text>

    </abp-card-body>
</abp-card>